:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 50rem;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #00000050;
}

body {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/country-quilt.png');
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Luckiest Guy', cursive;
}

h1 {
  font-size: 6rem;
}

.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -2;
  background-color: #635994c0;
  width: 102%;
  height: 45%;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 3rem;
}
.randomImg {
  max-width: 45rem;
  margin: 3rem 0;
  font-size: 1.7rem;
}

.btn {
  color: #000;
  font-size: 1.7rem;
  padding: 1.5rem 5rem;
  background-color: #635994c0;
  border-radius: 5px;
  border: 1px solid #635994e3;
  box-shadow: 2px 2px 10px #00000050;
  font-family: 'Luckiest Guy', cursive;
}
